<a href="https://colab.research.google.com/github/leekangwoo/AIB-18-discussion/blob/main/n114a_Data_Wrangling(2)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

# üìù Assignment

---

# **üå± Í∏∞Î≥∏ Í≥ºÏ†ú**

## **Part 1. Data Wranling**

### **1-1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**
- Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
- `info()`Î•º ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞Ïùò Ï†ïÎ≥¥Î•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- `isnull()`Î•º ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞Ïóê missing valuesÍ∞Ä Ï°¥Ïû¨ÌïòÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

In [206]:
# Îç∞Ïù¥ÌÑ∞ ÏóÖÎ°úÎìú
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [207]:
import pandas as pd
import numpy as np

In [208]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [209]:
final_revised = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/11_/data/Assignment/final_revised.csv')
final_revised.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    711 non-null    object
 1   Series_Title   711 non-null    object
 2   Released_Year  711 non-null    int64
 3   Certificate    711 non-null    object
 4   Runtime        711 non-null    object
 5   Genre          711 non-null    object
 6   IMDB_Rating    711 non-null    float64
 7   Overview       711 non-null    object
 8   Meta_score     711 non-null    float64
 9   Director       711 non-null    object
 10  Star1          711 non-null    object
 11  Star2          711 non-null    object
 12  Star3          711 non-null    object
 13  Star4          711 non-null    object
 14  No_of_Votes    711 non-null    float64
 15  Gross          711 non-null    object
dtypes: float64(3), int64(1), object(12)
memory usage: 89.0+ KB

In [210]:
final_revised.isnull()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
707,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
708,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
709,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
710,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### **1-2. EDA**

##### **Q1. `Gross` columnÏùò ÏµúÎåÄÍ∞íÍ≥º 75% ÏÇ¨Î∂ÑÏúÑÍ∞íÏùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏÑ∏Ïöî.**
- `.replace()`ÏôÄ `.astype()`ÏùÑ ÌôúÏö©ÌïòÏó¨ `Gross` columnÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ `Integer`Î°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî. 
- `.max()` Ìï®ÏàòÏôÄ `quantile(q=0.75)` Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ ÏµúÎåÄÍ∞íÍ≥º 75% ÏÇ¨Î∂ÑÏúÑÍ∞íÏùò Ï∞®Ïù¥Î•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Îëê Í∞íÏùò Ï∞®Îäî ÏñëÏàòÍ∞Ä ÎÇòÏôÄÏïº Ìï©ÎãàÎã§.

In [211]:
# final_revised.Gross = final_revised.Gross.str.replace(',', '')
# final_revised.Gross = final_revised.Gross.str.extract('(\d+)').astype('int')
final_revised.Gross = final_revised.Gross.str.replace(',', '').astype('int')

In [212]:
final_revised.Gross.describe()
print(final_revised.Gross.max() - final_revised.Gross.quantile(q=0.75))

834371417.0

##### **Q2. ÏµúÎåÄÍ∞íÍ≥º 75% ÏÇ¨Î∂ÑÏúÑÍ∞í ÏÇ¨Ïù¥Ïóê ÏàòÏπòÏ†ÅÏúºÎ°ú ÌÅ∞ Ï∞®Ïù¥Í∞Ä Ï°¥Ïû¨Ìï† Îïå, Î¨¥ÏóáÏùÑ ÏùòÏã¨Ìï¥Î≥º Ïàò ÏûàÏùÑÍπåÏöî?**

1. Í≤∞Ï∏°Ïπò(Missing Values)
2. Ï§ëÎ≥µÍ∞í(Duplicates)
3. Ïù¥ÏÉÅÏπò(Outliers)
4. Ï†ïÎãµ ÏóÜÏùå

In [213]:
# 3. Ïù¥ÏÉÅÏπò(Outliers)

##### **Q3. `Runtime` columnÏùò ÌèâÍ∑†Í∞íÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏÑ∏Ïöî.**
- `.extract()`ÏôÄ `.astype()`ÏùÑ ÌôúÏö©ÌïòÏó¨ `Runtime` columnÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ `Integer`Î°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî. 
- `Runtime` columnÏùò ÌèâÍ∑†Í∞íÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

In [214]:
# final_revised.Runtime = final_revised.Runtime.str.replace(r'min', '').astype('int')
final_revised.Runtime = final_revised.Runtime.str.extract('(\d+)').astype('int')

In [215]:
# final_revised.Runtime.head(10)
print(f'{final_revised.Runtime.mean():.2f}')

123.70

##### **Q4. `.drop()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ columnÏùÑ Ï†úÍ±∞Ìï† Îïå, axis ÌååÎùºÎØ∏ÌÑ∞Îäî Ïñ¥Îñ§ Í∞íÏúºÎ°ú ÏßÄÏ†ïÌï¥Ïïº Ìï†ÍπåÏöî?**
- Î∂àÌïÑÏöîÌïú `column`Ïù∏ `Poster_Link`ÏôÄ `Overview`Î•º Ï†úÍ±∞ÌïòÏÑ∏Ïöî.

In [216]:
final_revised = final_revised.drop('Poster_Link', axis=1)
final_revised = final_revised.drop('Overview', axis=1)
final_revised.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   711 non-null    object
 1   Released_Year  711 non-null    int64
 2   Certificate    711 non-null    object
 3   Runtime        711 non-null    int64
 4   Genre          711 non-null    object
 5   IMDB_Rating    711 non-null    float64
 6   Meta_score     711 non-null    float64
 7   Director       711 non-null    object
 8   Star1          711 non-null    object
 9   Star2          711 non-null    object
 10  Star3          711 non-null    object
 11  Star4          711 non-null    object
 12  No_of_Votes    711 non-null    float64
 13  Gross          711 non-null    int64
dtypes: float64(3), int64(3), object(8)
memory usage: 77.9+ KB

##### **Q5. ÏïÑÎûòÏùò Í≥ºÏ†ïÏùÑ Î™®Îëê ÏßÑÌñâÌïú ÌõÑ, Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞ÏÖãÏùò ÎßàÏßÄÎßâ rowÏùò `Star_Name`Î•º Ïì∞ÏÑ∏Ïöî.**
- `.melt()` Î•º ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Ïùò Íµ¨Ï°∞Î•º ÏïÑÎûòÏôÄ Í∞ôÏù¥ Î∞îÍæ∏ÏÑ∏Ïöî.
<img src='https://i.imgur.com/G6DPJMj.png'>

  - `.melt()` Ìï®ÏàòÏùò value_varsÏôÄ var_name ÌååÎùºÎØ∏ÌÑ∞Î•º ÏÑ§Ï†ïÌïòÏó¨ star1, star2, star3, star4Î•º `Stars` Ïª¨ÎüºÏóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 
  - `.melt()` Ìï®ÏàòÏùò value_name ÌååÎùºÎØ∏ÌÑ∞Î•º ÏÑ§Ï†ïÌïòÏó¨ star1, star2, star3, star4Ïùò Îç∞Ïù¥ÌÑ∞(Î∞∞Ïö∞Ïù¥Î¶Ñ)Î•º `Star_Name` Ïª¨ÎüºÏóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 
- `.sort_values` Ìï®ÏàòÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Series_Title, Stars ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏÑ∏Ïöî.
  - Ïù∏Îç±Ïä§Î•º Ïû¨ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.

In [217]:
final_revised_1 = final_revised.copy()
final_revised_1 = pd.melt(final_revised_1, id_vars=['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'No_of_Votes', 'Gross'] ,value_vars=['Star1', 'Star2', 'Star3', 'Star4'], var_name='Stars', value_name='Star_Name')

In [218]:
final_revised_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2844 entries, 0 to 2843
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   2844 non-null   object
 1   Released_Year  2844 non-null   int64
 2   Certificate    2844 non-null   object
 3   Runtime        2844 non-null   int64
 4   Genre          2844 non-null   object
 5   IMDB_Rating    2844 non-null   float64
 6   Meta_score     2844 non-null   float64
 7   Director       2844 non-null   object
 8   No_of_Votes    2844 non-null   float64
 9   Gross          2844 non-null   int64
 10  Stars          2844 non-null   object
 11  Star_Name      2844 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 266.8+ KB

In [219]:
final_revised_1 = final_revised_1.sort_values(by=['Series_Title', 'Stars'])

In [220]:
final_revised_1.iloc[-1, 11]

'Halina Reijn'

# **ü•á ÎèÑÏ†Ñ Í≥ºÏ†ú**

Ïó¨Îü¨ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Ìï©Ïπ† ÎïåÏóêÎäî `concat`, `merge`, `join` Îì±Ïùò Ìï®ÏàòÎ•º ÌôúÏö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.

Ïù¥Î≤à Í≥ºÏ†úÎ•º ÌÜµÌï¥ÏÑúÎäî Toy DataÎ•º ÌôúÏö©ÌïòÏó¨ `concat`, `merge`, `join`Ïùò Í≤∞Í≥ºÎ•º ÏßÅÍ¥ÄÏ†ÅÏúºÎ°ú ÏÇ¥Ìé¥Î≥¥Í≥†, Í∞Å Ìï®ÏàòÏùò Ï∞®Ïù¥Ï†êÏùÑ ÌååÏïÖÌï¥Î¥ÖÎãàÎã§. ÌäπÌûà ÌååÎùºÎØ∏ÌÑ∞Î•º Î≥ÄÍ≤ΩÌï¥Í∞ÄÎ©∞ ÏûëÎèôÏõêÎ¶¨Î•º ÏûêÏÑ∏Ìûà ÏÇ¥Ìé¥Î≥¥ÏÑ∏Ïöî.

In [221]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                   'b':['b0','b1','b2','b3'],
                   'c':['c0','c1','c2','c3']},
                  index = [0,1,2,3])

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                   'b':['b2','b3','b4','b5'],
                   'c':['c2','c3','c4','c5'],
                   'd':['d2','d3','d4','d5']},
                   index = [2,3,4,5])

## **Part 2. concat**
- axis ÌååÎùºÎØ∏ÌÑ∞Î•º Ï°∞Ï†ïÌïòÏó¨ Ïó¥Î∞©Ìñ•ÏúºÎ°ú Îëê Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Ìï©Ï≥êÎ≥¥ÏÑ∏Ïöî.
- axis ÌååÎùºÎØ∏ÌÑ∞Î•º Ï°∞Ï†ïÌïòÏó¨ ÌñâÎ∞©Ìñ•ÏúºÎ°ú Îëê Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Ìï©Ï≥êÎ≥¥ÏÑ∏Ïöî.

In [263]:
df1

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [264]:
df2

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [266]:
pd.concat([df1, df2], ignore_index=False)
# pd.concat([df1, df2], ignore_index=True)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [281]:
# pd.concat([df1, df2], keys=['s1', 's2'])
pd.concat([df1, df2], keys=['s1', 's2'], names=['Series name', 'Row ID'])
# pd.concat([df1, df2], sort=False)
# pd.concat([df1, df2], join='inner')
# pd.concat([df1, df2], axis = 1)

                     a   b   c    d
Series name Row ID
s1          0       a0  b0  c0  NaN
            1       a1  b1  c1  NaN
            2       a2  b2  c2  NaN
            3       a3  b3  c3  NaN
s2          2       a2  b2  c2   d2
            3       a3  b3  c3   d3
            4       a4  b4  c4   d4
            5       a5  b5  c5   d5

## **Part 3. merge**
- `a` columnÏùÑ Í∏∞Ï§ÄÏúºÎ°ú how ÌååÎùºÎØ∏ÌÑ∞Ïóê Í∞ÅÍ∞Å 'inner', 'outer', 'left', 'right'Î•º Ï†ÅÏö©ÌïòÏó¨ Îëê Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Ìï©Ïπú ÌõÑ, Í∑∏ Ï∞®Ïù¥Î•º ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî.

In [293]:
df1.merge(df2)

    a   b   c   d
0  a2  b2  c2  d2
1  a3  b3  c3  d3

In [301]:
# df1.merge(df2, how='left')
df1.merge(df2, how='inner')

    a   b   c   d
0  a2  b2  c2  d2
1  a3  b3  c3  d3

In [302]:
# df1.merge(df2, how='right')
df1.merge(df2, how='outer')

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

## **Part 4. join**
- .join()ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îã§ÏùåÍ≥º Í∞ôÏùÄ Í≤∞Í≥ºÎ¨ºÏùÑ ÎßåÎì§Ïñ¥Î≥¥ÏÑ∏Ïöî.

||a\_x|b\_x|c\_x|a\_y|b\_y|c\_y|d|
|---|---|---|---|---|---|---|---|
|**2**|a2|b2|c2|a2|b2|c2|d2|
|**3**|a3|b3|c3|a3|b3|c3|d3|
|**4**|NaN|NaN|NaN|a4|b4|c4|d4|
|**5**|NaN|NaN|NaN|a5|b5|c5|d5|

In [328]:
df1.join(df2, how='right', lsuffix='a', rsuffix='d')

    aa   ba   ca  ad  bd  cd   d
2   a2   b2   c2  a2  b2  c2  d2
3   a3   b3   c3  a3  b3  c3  d3
4  NaN  NaN  NaN  a4  b4  c4  d4
5  NaN  NaN  NaN  a5  b5  c5  d5